*{
  box-sizing: border-box;
  color: #F5F5F5;
}

h3, span { font-size: 16px; margin: 0; padding: 0; font-family: 'Open Sans', sans-serif; color: rgba(255, 255, 255, 0.7.5);}

body {
  background-color: #414a52;
}

.disabled {
  display: none;
}

.container , .start-up-screen{
  overflow: hidden;
  max-width: 400px;
  height: 500px;
  margin: auto;
  background-color:	#292421;
}

.container {
  height: 525px;
  margin-top: 3rem;
  border-radius: 48px;
  box-shadow: rgba(255, 255, 255, 0.25) 0 0 0 0.5rem;
}

.title {
  width: 100%;
  text-align: center;
}

.title h3 {
  padding: 2rem;
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: 2rem;
  font-weight: 400;
}

.start-up-screen {
  height: 400px;
  margin: 25px 0;
}

.start-up-screen h3 {
  width: 80%;
  margin:0 auto 15px auto;
  text-align: center;
  font-size: 1.2rem;
}

.focus-time, .pause-time {
  width: 80%;
  height: 8rem;
  margin: auto;
}

.increment, .decrement, .minutes {
  display: inline-block;
  height: 5rem;
  text-align: center;
  font-size: 2.7rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.7);
  padding: 10px;
}

.increment, .decrement {
  width: 25%;
  border-radius: 48px;
  box-shadow: rgba(255, 255, 255, 0.25) 0 0 0 0.08rem;
  background-color: rgba(182, 125, 0, 0.7);
}

.increment:hover, .decrement:hover {
  cursor: pointer;
  background-color: rgba(182, 125, 0, 0.5);
}

.minutes {
  width: 50%;
}

.mode h3 {
  font-size: 1.8rem;
  padding: 10px 0;
  background-color: #71C671;
  text-align: center;
  text-transform: uppercase;
}

.timer {
  height: 12rem;
  padding: 3rem 0;
  font-family: 'Maven Pro', sans-serif;
  font-size: 5rem;
  text-align: center;
}

.container-small {
  width: 80%;
  margin: auto;
}

.buttons {
  height: 100px;
}

#start, .btn {
  display: block;
  background:	#8B4500;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 48px;
  box-shadow: rgba(255, 255, 255, 0.5) 0 0 0 0.1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6);
  outline-style: none;
}

#start:hover, .btn:hover {
  background-color: rgba(135, 69, 0, 0.7);
}

#start {
  width: 50%;
  height: 40px;
  margin:  3rem auto;
}

.btn {
  margin:7px 1%;
  padding: 10px 0;
  width: 31.3%;
  float: left;
}

.btn#stop {
  margin-top: 65px;
}

/**************************** animations***************************************/

@@keyframes slideDown {
  0% {

  }
  50% {

  }
  100% {

  }
}
